@media only screen and (max-width: 1155px) {
    .d_flex_galary{
        justify-content: center;

    }
}
@media only screen and (max-width: 1024px) {
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }

    .d_flex_galary{
        justify-content: center;
    }

    .d-flex_Items{ 
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 820px) {
    header li{
        margin-right: 20px;
    }
    header li:first-child{
        margin-right: 20px;
    }
    header ul {
        flex-wrap: wrap ;
        margin-right: 0px;
    }
    footer .right-item{
        justify-content: flex-end;
    }
    .mApertureStudios{
        height: 45vh;
    }
    .WhatWeDo{
        padding: 50px 0 10px ;
    
    }
    .sunset{
        height: 45vh;
    }
    .MonsteraLeafs{
        height: 45vh;

    }
    .PastClients{
        padding-top: 60px;
        padding-bottom: 50px;
    }
    .Star_fall{
        height: 45vh;    
    }
    .Need{
        padding-top: 56px;
        padding-bottom: 54px;
    }
    footer{
        padding-top: 46px;
        padding-bottom: 10px;
    }

@media only screen and (max-width: 600px) {
    header ul {
        display: flex;
        flex-direction: column;
        border-left: 1px solid white;

    }
    header li{
        margin-bottom: 20px;
        margin-left: 50px;
    
    }
    header li a{
        color: rgb(249, 246, 246);
    }



    .first_letter {
        animation: none;
    }
    .logo img:hover {
        
        transform: none;
    }

    .last_letter{
        animation: none;
    }
    








}

@media only screen and (max-width: 428px) {
    footer{
        padding-top: 36px;
        padding-bottom: 15px;
    }
    footer .flex-container{
        flex-wrap: wrap;
        justify-content: center;

    } 
    footer .right-item{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    footer .left-item p{
      margin-bottom: 20px;
    }
    footer .right-item{
        margin-bottom: 20px;
    
    }
    footer .right-item li{
        margin-bottom: 20px;
    }
    footer .right-item li:first-of-type{
        margin-bottom: 20px;
    }
    .flex-container:last-of-type ul{
        margin-top: 30px;
        width: 60%;
       
    
    }
    .flex-container:last-of-type ul li img{
        width: 48px;
        height: 48px;
      
    }
    .Star_fall{
        justify-content: center;
        padding-right: inherit;
       
    }
    .MonsteraLeafs{
        justify-content: center;
        padding-right: inherit;
    
    }
    .sunset{
        justify-content: center;
        padding-right: inherit;
    }

    .mApertureStudios h1{

        font-size: 44px;
        margin-bottom: 20px;

    }
    .logo img {
        margin-left: inherit;
    }

    .icons img{
        margin-bottom: 20px;
    }

}

@media only screen and (max-width: 360px) {
    footer .right-item{
        flex-direction: column;
        align-items: center;
      
    
    }
    footer .right-item ul:first-of-type{
        margin-right: 0px;
        margin-bottom: 20px;
    }

}


@media only screen and (max-width: 320px) {
    header ul {
        display: none;
    
    }
    .mApertureStudios h3{
        font-size: 14px;
        line-height: 10px;

    }
    .mApertureStudios h1{

        font-size: 34px;
        line-height: 39px;

    }
    .WhatWeDo h2{

        font-size: 30px;
        line-height: 32px;

    }
        .PastClients h2{
            font-size: 30px;
            line-height: 32px;
        }
        .Need h2{
            font-size: 30px;
            line-height: 32px;
        }
        .Need h3{
            font-size: 14px;
            line-height: 10px;

        }
    }     
    footer .left-item a{
        display: inline-block;

    }
    footer .left-item p{
        text-align: center;

    }

}








